
.App {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 0.3em;
    display: grid; 
    grid-gap: 0.5em;
    justify-content: start;
    grid-template-columns: 1fr;
  }
  
  body{
    background-image: url(https://images.app.goo.gl/co9trGvvaYee83cL7);
  }
  .royaltitle{
    background-color: blue;
    padding: 1em;
    width: 100%;
    border-radius: 7px;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    
  }
  
  .SearchInput{
    width: 100%;
    padding: 0.9em 0.5em;
    border-radius: 7px;
    border: 1px solid rgb(78, 116, 148);
    outline: none;
  }
  .Transaction form input:hover,
  .SearchInput:hover{
    border: 1px solid blue;
  }
  
  .Transaction{
    width: 100%;
    padding: 0.9em;
    box-shadow: 0 1px 7px  0 rgba(0, 0, 0, 0.3);
    border-radius: 7px;
  }
  .Transaction form div {
    width: 100%;
    display: flex;
    padding: 0.9em;
    gap: 0.5em;
  }
  
  .Transaction form input{
    flex-grow: 1;
    outline: none;
    border: 1px solid grey;
    border-radius: 7px;
    padding: 0.5em 0.9em;
  }
  .Transaction button{
    width: auto;
    padding: 0.7em 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 600;
    background-color: rgb(0,0,0,0.1);
  }
  .Transaction button:hover{
    background-color: rgb(0,0,0,0.5);
    color: #fff;
  
  }
  table {
    width: 100%; 
    border-collapse: separate;
    border-spacing: 0; 
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #d1d1d1;
    }
    thead{
      border-radius: 30px;
    }
    tbody td,
    thead th{
      padding: 0.6em;
      border-bottom: 1px solid #d1d1d1;
      border-right: 1px solid #d1d1d1;
    }
    tbody tr:nth-of-type(odd) {
      background-color: #f2f2f2;
  }
    tbody td:last-child{
      border-right: none;
    }
    tbody tr:last-child td{
      border-bottom: none;
    }